.grid {
    display: inline-block;
    margin-bottom: 10px;
}
#monster-name {
    margin-left: 10px;
}
#monster-picture {
    width: 110px;
    height: 110px;
}
.monster-suggestion-picture {
    width: 50px;
    height: 50px;
}
.margin-top-10 {
    margin-top: 10px;
}
.stat-input-row {
    margin-top:10px;
}
.stat-input-row span {
    font-size: 18px;
}
.monster-prefix {
    width: 110px;
}
.select2-container {
    width: 100% !important;
}
.select2-container--default .select2-results > .select2-results__options {
    max-height: 310px;
}