<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Find Friends</h4>
            </div>
            <div class="modal-body">
                <select id="monster-suggestion-dropdown">
                    <option></option>
                </select>
                <div class="margin-top-10">
                    <img src="../../assets/images/mystery_creature.png" id="monster-picture" class="grid"/>
                    <h3 id="monster-name">No monster chosen</h3>
                </div>

                <div class="input-group margin-top-10">
                    <span class="input-group-addon monster-prefix">Level:</span>
                    <input id="monster-level" class="form-control" aria-describedby="basic-addon1"
                           placeholder="Minimum Level" type="text" maxlength="2">
                    <span class="input-group-btn">
                        <button id="max-monster-level" class="btn btn-default" type="button">Max</button>
                    </span>
                </div>

                <div class="input-group margin-top-10">
                    <span class="input-group-addon monster-prefix">Awakenings:</span>
                    <input id="monster-awakenings" class="form-control" aria-describedby="basic-addon1"
                           placeholder="Minimum Awakenings" type="text" maxlength="2">
                    <span class="input-group-btn">
                        <button id="max-monster-awakenings" class="btn btn-default" type="button">Max</button>
                    </span>
                </div>

                <div class="input-group margin-top-10">
                    <span class="input-group-addon monster-prefix">+ eggs:</span>
                    <input id="monster-eggs" class="form-control" aria-describedby="basic-addon1"
                           placeholder="Minimum + Eggs" type="text" maxlength="3">
                    <span class="input-group-btn">
                        <button id="max-monster-eggs" class="btn btn-default" type="button">Max</button>
                    </span>
                </div>

                <div class="input-group margin-top-10">
                    <span class="input-group-addon monster-prefix">Skill Level:</span>
                    <input id="monster-skill-level" class="form-control" aria-describedby="basic-addon1"
                           placeholder="Minimum Skill Level" type="text" maxlength="2">
                    <span class="input-group-btn">
                        <button id="max-monster-skill-level" class="btn btn-default" type="button">Max</button>
                    </span>
                </div>

                <div class="margin-top-10">
                    <button id="hypermax" type="button" class="btn btn-primary stat-button">Hypermax</button>
                    <button id="minimum" type="button" class="btn btn-primary stat-button">Minimum</button>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="search" type="button" class="btn btn-primary">Search</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/select2.min.js"></script>
<script type="text/javascript" src="../../js/home.js"></script>
</body>
</html>
